{
  "extends": ["airbnb", "react", "plugin:prettier/recommended"],
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0
  },
  "env": {
    "jest": true
  }
}
